apiVersion: v1
kind: Secret
metadata:
  name: "temporal-{{ .Service.Name.DNSCase }}-secrets"
  namespace: {{ .Namespace }}
type: Opaque
data:
{{- range $key, $value := .SecretMap }}
  {{ $key }}: "{{ $value }}"
{{- end }}
