apiVersion: apps/v1
kind: Deployment
metadata:
  name: "temporal-{{ .Service.Name.DNSCase }}"
  namespace: "{{ .Namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "temporal-{{ .Service.Name.DNSCase }}"
  template:
    metadata:
      labels:
        app: "temporal-{{ .Service.Name.DNSCase }}"
    spec:
      containers:
        - name: temporal
          image: {{ .Image }}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 7233
              name: grpc
            - containerPort: 8233
              name: http
          envFrom:
            - configMapRef:
                name: "temporal-{{ .Service.Name.DNSCase }}-config"
            - secretRef:
                name: "temporal-{{ .Service.Name.DNSCase }}-secrets"
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "2Gi"
              cpu: "1000m"
